* {
    font-family: sans-serif;
}

.formSearch {
    margin-top: 20%;
    margin-bottom: 20%;
}

.headings {
    color: white;
}

.welcome {
    margin-top: -2%;
    height: 800px;
    background-image: url("background1.jpg");
    background-size: cover;
}

#links {
    float: right;
}
#logo {
    text-decoration: none;
    color: gray;
}
