* {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

input[type=submit] {
    background-color: rgb(0, 123, 255);
    border: 1px solid transparent;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    border-radius: .25rem;
}

small {
    color: white;
}

.formSearch {
    margin: 15% 25%;
}

.headings {
    color: white;
}

.welcome {
    height: 850px;
    background-image: url("background1.jpg");
    background-size: cover;
}

#formOne {
    margin-top: -30px;
    margin-right: -14px;
    margin-left: -14px;
    height: 700px;
    background-image: url("branch.jpg");
    background-size: cover;
}

#formTwo {
    margin: -35px -14px -14px;
    height: 700px;
    background-image: url("flowers.jpg");
    background-size: cover;
}

#links {
    float: right;
}

#logo {
    text-decoration: none;
    color: gray;
}