* {
    font-family: sans-serif;
}

a.btn {
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    color: black;
    opacity: 0.8;
}

a.btn:hover {
    border-radius: .25rem;
}

html {
    scroll-behavior: smooth;
}

.btn {
}

.formSearch {
    padding: 25px;
}

.headings {
    color: white;
}

.results {
    background-image: url("results_background.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height: 850px;
}

#links {
    float: right;
}

#logo {
    text-decoration: none;
    color: gray;
}

a.btn {
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    color: black;
    opacity: 0.8;
}

a.btn:hover{
    opacity: 1.0;
}

.dropdown-item:focus {
    outline: none;
}

:focus {
    outline: none;
    box-shadow: none;
}

:active {
    outline: none;
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}