* {
  box-sizing: border-box;
}



.search {
  height:37px;
  width:36px;
  background-color: white;
  border-bottom-color: white;
  border-radius: 4px;
  border-left: none;
}

#header-row {
  padding-bottom: 7px;
}

.user {
  height: 100px;
}

.user-name {
  margin-top: -20px;
  text-align: center;
}



a.btn {
  border-radius: .25rem;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: black;
  opacity: 0.8;
}

a.btn:hover{
  opacity: 1.0;
}



body {
  background-image: url("background1.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
}



h2 {
  border-bottom: 2px solid #CCC;
  padding-bottom: 7px;
}




li:hover {
  opacity: 1.0;
}


.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px 16px;
  transform: translate(0%, -50%);

}


.delete {
  float: right;
}

.delete:hover {
  background: #bbb;
}

#links {
  float: right;
}

#logo {
  text-decoration: none;
  color: white;
}
